* {margin: 0px;
padding: 0px;}
body {
    background-color: rgb(253, 251, 251); 
    font-family: helvetica;
    font-size: small;
    color: #0c1a1b;
    line-height: 15px;
}
#cabecalho {
    position: fixed;
    background-color: rgb(71, 80, 122);
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
  }
  #titulo {
    padding: 10px;
  }
  #minha_foto {
    width: 200px;
  }
  #licoes_aprendidas{
    margin: 5%;
  }
  #licoes_a_aprender{
    margin: 5%;
  }
  .lado-esquerdo{
    display: inline-block;
    float: left;
    width: 45%;
  }
  .lado-direito{
    display: inline-block;
    float: right;
    width: 30%;
  }

  ul{
    float: right;
    width: 40%;
  }
  ol{
    float: left;
    width: 40%;
  }
  table{
    float: left;
    padding: 10px;
  }
  #rodape {
    float: left;
    position: absolute;
    top: 350%;
    width: 90%;
    height: 10px;
    text-align: center;
    border: 1px black solid;
    padding: 20px;
  }
  h2{
    float: left;
    margin: 20px 10px 10px 20%;
  }
  #linkedin{
    text-decoration: none;
  }
  td, th {
    border: 1px solid #a3a0a0;
    text-align: left;
    padding: 3px;
  }
  tr:nth-child(even) {
    background-color: #a3a0a0;
  }