* {margin: 0px;
padding: 0px;}
body {
    background-color: rgb(253, 251, 251); 
}
#cabecalho {
    position: fixed;
    background-color: green;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
  }
  #titulo {
    top: 0;
  }
  #minha_foto {
    width: 200px;
  }
  #licoes_aprendidas{
    margin: 5%;
  }
  #licoes_a_aprender{
    margin: 5%;
  }
  article{
    float: left;
    width: 50%;
  }
  aside{
    float: right;
    width: 50%;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }